.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.cursor/
/home/nabi/Projects/Python/advancde_ai_2/agents.py
/home/nabi/Projects/Python/advancde_ai_2/level_loader.py
/home/nabi/Projects/Python/advancde_ai_2/pacman_env.py
.env