# Python / venv
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# IDE / editor
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Checkpoints и артефакты обучения
checkpoints/

# Docker
*.log

